# ─ Игнорируем всё ─
*

# ─ Но не игнорируем эти папки и файлы ─
!/.gitignore
!geodata/
!geodata/**/*.json
!web-movil/
!web-movil/**

# ─ Игнорируем только явные артефакты вне этих папок ─
node_modules/
*.zip
*.exe
*.log
*.lock
.idea/
.vscode/
saved_projects/
