# ───── Игнорировать всё в корне ─────
/*

# ───── Явно разрешить нужные файлы и каталоги ─────
!/.gitignore
!/package.json

# ───── Разрешить docs и всё внутри ─────
!/docs/
!/docs/**

# ───── Разрешить только index.json в каждой папке geodata ─────
!/geodata/
!/geodata/*/
!/geodata/*/index.json

# ───── Игнорировать всё остальное в geodata ─────
geodata/*/punto_*.json
geodata/*/*.json

# ───── Игнорировать окружение разработки ─────
node_modules/
.idea/
.vscode/
*.log
saved_projects/
.DS_Store
